.callouts{
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.callouts h4{
  text-decoration: underline;
  text-decoration-color: var(--accent-light);
  text-decoration-thickness: 5px;
  margin-bottom: 25px;
}
.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dishes div {
  margin-bottom: 10px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dishes a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.dishes p {
  background: hsla(var(--blue-light), 0.5);
  color: var(--text-white) !important;
  padding: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 2px hsl(var(--black)) !important;
  margin: 0;
}
.dishes div:first-of-type {
  background-image: url("/assets/images/toast-min.jpg");
  background-size: cover;
}
.dishes div:nth-of-type(2) {
  background-image: url("/assets/images/tacos-min.jpg");
  background-size: cover;
  background-position: bottom;
}
.dishes div:last-of-type {
  background-image: url("/assets/images/steak-min.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) {
  .dishes{
    justify-content: space-between;
  }
  .dishes div {
    width: 33%;
    
  }
}

@media (prefers-color-scheme: dark) {
  .callouts{
    color: inherit;
  }
  .callouts h4{
    color: inherit;
  }
  .dishes p {
    background: var(--grey);
    color: hsl(var(--black)) !important;
    text-shadow: 1px 1px 2px var(--text-white) !important;
  }
  
}